{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Boutique en ligne</h1>
        {{ include('StoreFrontendBundle:Main:_navbar.html.twig') }}

        {#Affichage d'un message flash#}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% block content %}
        {% endblock %}

        {{ include('StoreFrontendBundle:Main:_footer.html.twig') }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/frontendbundle/main.js") }}"></script>
{% endblock %}