{% block footer %}
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="">Credit</a></li>
                    <li><a href="">CGU</a></li>
                    <li><a href="">Produits</a></li>
                    <li><a href="">A Propos</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}